@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap");

#gh {
  margin-top: 20px;
  font-weight: 800;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 30px;
}

#gurantee {
  margin-top: 270px;
}

#gurantee-badge {
  max-width: 210px;
  margin-top: -69px;
}

#bo-sh {
  font-size: 18px;
  margin-bottom: 30px;
}

#bo-h {
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 30px;
}

#bo1 {
  border-width: 5px;
  border-color: orange;
  border-radius: 7px;
  border-style: solid;
  box-shadow: 0 3px 12px 1px gray;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-right: 10px;
}

#bo2 {
  border-width: 5px;
  border-color: orange;
  border-radius: 7px;
  border-style: solid;
  box-shadow: 0 3px 12px 1px gray;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 10px;
}

#bonuses {
  font-weight: 900;
  font-size: 45px;
  margin-top: 45px;
  margin-bottom: 50px;
  color: #d8242b;
}

#tapsub {
  margin-top: 35px;
  font-size: 18px;
  font-weight: 350;
  line-height: 30px;
  margin-bottom: -20px;
}

#tap {
  margin-top: 30px;
  font-size: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

#o {
  font-size: 30px;
  margin-top: 30px;
}

#yours {
  color: #0d9901;
  font-size: 35px;
  margin-top: 13px;
}

#point1 {
  max-width: 400px;
  margin-top: 60px;
  margin-bottom: 30px;
}

#point2 {
  max-width: 400px;
  margin-top: 60px;
  margin-bottom: 30px;
}

#point3 {
  max-width: 400px;
  margin-top: 60px;
  margin-bottom: 30px;
}

#order {
  background-color: orange;
  border: 0px;
  line-height: 90px;
  width: 100%;
  border-radius: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 900;
  box-shadow: 0 3px 12px 1px gray;
  margin-top: 35px;
  margin-bottom: 50px;
}

#top {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 1000;
  margin-top: 40px;
  justify-items: center;
  min-width: none;
  max-width: 1500px;
}

#vsl {
  justify-content: center;
  max-width: 900px;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 0 3px 12px 1px gray;
  padding: 0;
}

#hide {
  text-align: center;
  font-family: "Poppins", sans-serif;
  max-width: 700px;
  display: none;
}

#guarantee {
  text-align: center;
  margin-top: 100px;
  box-shadow: 0 3px 22px 0px rgb(184, 184, 184);
  border-radius: 12px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 450px;
  background-color: #feeeb6;
}

.footer {
  background-color: black;
  width: 100%;
  justify-content: center;
  bottom: 0;
  margin-top: 90px;
}

#claim {
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#headline {
  text-align: center;
  font-family: "Poppins", sans-serif;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#headline h1 {
  font-weight: 700;
  font-size: 46px;
}

#headline h4 {
  font-weight: 400;
  margin-top: 40px;
  font-size: 21px;
  line-height: 32px;
  font-style: italic;
}

@media (max-width: 768px) {
  #headline h1 {
    font-size: 30px;
  }
  #headline h4 {
    font-size: 18px;
  }
}

@media (min-width: 769px) {
  #vsl {
    justify-content: center;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

